<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
    <meta charset="UTF-8">
    <title>Patients Patients</title>
</head>
<body>
  <div layout:fragment="content" >
    <div class="p-3 row justify-content-center">
      <form method="post" th:action="@{savePatient}">
        <div class="mb-3 mt-3">
          <label for="id" class="form-label">ID:</label>
          <label th:text="${patient.id}"></label>
          <input type="hidden" class="form-control" id="id" placeholder="ID" name="id" th:value="${patient.id}">
        </div>
        <div class="mb-3 mt-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Nom" name="name" th:value="${patient.name}">
          <span class="text-danger" th:errors="${patient.name}"></span>
        </div>
        <div class="mb-3">
          <label for="dob" class="form-label">Date of Birth:</label>
          <input type="date" class="form-control" id="dob" placeholder="Date of Birth"
                 name="dob" th:value="${patient.dob}">
        </div>
        <div class="mb-3 mt-3">
          <label for="score" class="form-label">Score:</label>
          <input type="text" class="form-control" id="score" placeholder="Score"
                 name="score" th:value="${patient.score}">
          <span class="text-danger" th:errors="${patient.score}" th:value="${patient.sick}"></span>
        </div>
        <div class="form-check mb-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Sick
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</body>
</html>